.fsm-overlay {
  z-index: 999;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 0%;
  white-space: nowrap;
  transition: width .35s;
}

.fsm-toggle {
  z-index: 1000;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: white;

  .fsm-hamburger {
    width: 100%;
    height: 100%;

    div {
      position: relative;
      height: 20%;
      background-color: black;
      transition: width .15s, transform 0.3s;

      &:not(:first-child) {
        margin-top: 20%;
      }
    }

    .fsm-two {
      width: 75%;
    }

    .fsm-three {
      width: 50%;
    }
  }

  &:hover .fsm-hamburger div {
    width: 100%;
  }
}

.fsm-open {
  width: 100%;
}

.fsm-toggle.fsm-active .fsm-hamburger {
  .fsm-one {
    width: 100%;
    transform: translate(0%, 200%) rotate(45deg);
  }

  .fsm-two {
    width: 0%;
  }

  .fsm-three {
    width: 100%;
    transform: translate(0%, -200%) rotate(-45deg);
  }
}

.fsm-overlay {
  .fsm-left {
    width: 60%;
    height: 100%;

    .fsm-image {
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 40%;
      background-size: cover;
      background-position: center;
    }

    @media screen and (max-width: 500px) {
      display: none;
    }
  }
  .fsm-right {
    position: absolute;
    overflow: hidden;
    top: 0%;
    bottom: 0%;
    left: 60%;
    right: 0%;
    background-color: black;

    display: flex;
    flex-flow: column;
    height: 100%;

    @media screen and (max-width: 700px) {
      left: 0%;
    }

    .fsm-wrapper {
      flex-grow : 1;
      text-align: center;

      &::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      .fsm-content {
        display: inline-block;
        vertical-align: middle;

        nav {
          a {
            display: block;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Arial Black";
            font-size: 40px;

            &:not(:first-child) {
              margin-top: 10px;
            }
          }
        }
      }
    }

    .fsm-footer {
      padding: 9px 50px;

      a {
        color: #fff;
        text-decoration: none;
        font-size: 45px;
        font-family: 'SocialCircles';

        &.fsm-animate {
          opacity: 0;
          transition-delay: .35s;
          transition-duration: 0.5s;

          &.fsm-animationactive {
            opacity: 1;
          }
        }

        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }
  }
}